/*----------------------------------------------------------------------------
	main.css

	this css-file contains all definitions, that are independend from the
	colorschemes.

	(c) Schlund + Partner AG

	This CSS-File uses the original "Tanteks Box Modell Hack"
	http://www.tantek.com/CSS/Examples/boxmodelhack.html

	NOTE:
	Older W3C CSS validators return errors when the voice-family property
	is used in a 'screen' style sheet. This is an error in the W3C CSS
	validator itself. The validator should report a warning, not an error,
	when properties which are unsupported by a particular medium are used,
	and this has been reported to the W3C:

 ----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------
 styles for specific classes and ids
----------------------------------------------------------------------------*/

body#main_body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/*-- global container ------------------------------------------------------*/

#container {
    position: relative;
    padding: 0;
    margin: 0 auto;
    text-align: left;
    width: 957px;
}

#header {
    position: relative;
    padding: 0;
    margin: 0;
    width: 957px;
    top: 0px;
    left: 0px;
}

#main_container {
    clear: both;
    position: relative;
    padding: 0;
    /*margin: -75px 20px 20px 20px;*/

    margin: 0px;
}

#layout_table {
    border-collapse: collapse;
}

#sub_nav_column {
    vertical-align: top;
}

#content_column {
    vertical-align: top;
}

#left_column_container {
    margin: 0;
    padding: 0;
    width: 1px;
}

#sub_container1 {
    margin: 31px 0 0 13px;
    padding: 0;
}

#sub_container2 {
    margin: 0;
    padding: 37px 25px 25px 12px;
    width: 907px;
}

#content_container {
    overflow: hidden;
    margin: 0px;
    padding: 0;
    width: 907px;
}

/*--- key visual -----------------------------------------------------------*/

#key_visual {
    clear: both;
    position: relative;
    top: 0;
    left: 0px;
    width: 957px;
    height: 120px;
}

#key_b {
    position: relative;
    top: 0;
    left: 0px;
    width: 957px;
    height: 5px;
    font-size: 5px;
}

/*--- slogan (as text or background image) ---------------------------------*/

#slogan {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 4px 10px 4px 0px;
    width: 755px;
    min-height: 16px;
    text-align: right;
    voice-family: "\"}\"";
    voice-family: inherit;
    float: right;
}

html>body #slogan {
    width: 755px;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    background: no-repeat top right;
    width: 145px;
    height: 51px;
    position: relative;
    top: 0px;
    left: 25px;
    float: left;
}

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    z-index: 1;
    position: relative;
    top: 0px;
    left: 0px;
    line-height: 0;
    padding: 0px 0 0px 17px;
    margin: 0px 0 5px 0;
    overflow: hidden;
    width: 755px;
    voice-family: "\"}\"";
    voice-family: inherit;
    float: right;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
}

html>body #main_nav_container {
    width: 755px;
}

#main_nav_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main_nav_list li {
    float: left;
    margin: 0px 0 0 0;
    padding: 0;
}

/*--- main navigation items ------------------------------------------------*/

#main_nav_list a {
    overflow: hidden;
    margin: 0;
    /*padding: 3px 19px 2px 10px;*/

    padding-left: 15px;
    padding-right: 15px;
    display: block;
    float: left;
    line-height: 23px;
    text-align: center;
    height: 23px;
    white-space: nowrap;
    voice-family: "\"}\"";
    voice-family: inherit;
    background-position: left;
    background-repeat: no-repeat;
}

html>body #main_nav_list a {
    height: 23px;
}

a.main_nav_item:hover {
    background: transparent;
}

/*--- container for the subnavigation --------------------------------------*/

.sub_nav_container {
    position: relative;
    top: 0px;
    left: 0px;
    line-height: 0;
    padding: 0px 0 0px 0px;
    margin: 0 0 0px 0;
    overflow: hidden;
    voice-family: "\"}\"";
    voice-family: inherit;
    /*float: right;*/
}

/*--- subnavigation --------------------------------------------------------*/

.sub_nav_list {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

.sub_nav_list li {
    margin: 0px 0 0px 0;
    padding: 0;
    float: left;
}

/*--- subnavigation items --------------------------------------------------*/

.sub_nav_list a {
    overflow: hidden;
    float: left;
    text-align: center;
    line-height: 22px;
    height: 23px;
    white-space: nowrap;
    /*padding: 0 5px 0 45px;*/

    padding-left: 15px;
    padding-right: 15px;
    display: block;
    /*width: 107px;*/

    voice-family: "\"}\"";
    voice-family: inherit;
    /*background-position: left;
	background-repeat: no-repeat;*/

    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

html>body .sub_nav_list a {
    /*width: 107px;*/

}

/*--- footer ---------------------------------------------------------------*/

#footer {
    margin: 0;
    padding: 0;
    width: 957px;
    /*height: 65px;*/

    clear: both;
}

#footer_text {
    width: 947px;
    padding: 10px 10px 3px 0px;
    margin: 0 0px 0 0px;
    text-align: right;
}

#footer_b {
    position: relative;
    top: 0;
    left: 0px;
    width: 957px;
    height: 8px;
    font-size: 6px;
}

/*----------------------------------------------------------------------------
  default-styles for .content html-elements
----------------------------------------------------------------------------*/

/*--- paragraph ------------------------------------------------------------*/

.content {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin: 5px 0 20px 0;
    padding: 0;
    line-height: 1.3;
}

.content p {
    margin: 5px 0 20px 0;
    padding: 0;
    line-height: 1.3;
}

.content table {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin: 0px 0px 15px 1px;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0;
    border-left: 1px solid;
    border-top: 1px solid;
    border-collapse: collapse;
}

.content select {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.content input {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

.content textarea {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

.content a {
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

/*--- tables ---------------------------------------------------------------*/

.content th {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 5px 3px 5px;
}

.content td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 5px 3px 5px;
}

.content tr.odd {
    padding: 3px 2px 3px 2px;
}

.content tr.even {
    padding: 3px 2px 3px 2px;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}

/*--- lists ----------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

